/* RESET CSS */
*,html, body {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

    box-sizing: border-box;

}



ol, ul {

    list-style: none;

}



/* CSS DISINI */

html {

    scroll-behavior: smooth;

    background-color: #222;

    color: white;

}



/* Awal Navigasi */

nav {

    height: 80px;

    display: flex;

    justify-content: space-between;

    padding: 32px 200px;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    z-index: 999;

    transition: .3s;

    background-color: orange;

}



nav ul li {

    display: inline-block;

}



li {

    position: relative;

    display: block;

    transition: 0.5s;

    cursor: pointer;

}



li:after {

    position: absolute;

    content: "";

    width: 100%;

    height: 3px;

    top: 100%;

    left: 0;

    transition: transform 0.5s;

    transform: scaleX(0);

    transform-origin: right;

    background-color: yellow;

}



li:hover::after {

    transform: scaleX(1);

    transform-origin: left;

}



ul.menu li {

    margin-left: 30px;

    font-size: 20px;

}



nav ul li a {

    text-decoration: none;

    color: white;

    transition: .2s;

}



.logo a {

    font-size: 34px;

    line-height: 20px;

}



.logo {

    margin-top: -15px;

}



.logo hr {

    display: inline-block;

    width: 15px;

    margin: 2px;

}



.logo span {

    font-size: 14px;

    margin-left: 2px;

}



/* Awal Jumbotron */

.jumbotron {

    background-color: #e2edff;

    padding-top: 100px;

    text-align: center;

}



img.gambarsaya {

    width: 250px;

    height: 250px;

    border-radius: 50%;

    margin-bottom: 30px;

}



.teksdata {

    font-size: 25px;

    font-family: 'sans-serif';

    color: #454D7A;

}



/* Tentang saya */

#about {

    padding-top: -80px;

}



.judulsaya {

    padding-top: 80px;

    text-align: center;

    font-size: 30px;

    font-weight: bold;

    font-family: 'Arial';

}



.tekstentangsaya {

    margin-top: 25px;

    text-align: center;

}



.kiri {

    display: flex;

    justify-content: center;

    float: left;

    width: 50%;

}



.kanan {

    display: flex;

    justify-content: center;

    float: right;

    width: 50%;

}



.teksaboutme {

    width: 80%;

    font-size: 20px;

    font-family: 'Lucida Sans';

}



/* Asal sekolah */

.bungkusaskel {
  background-color: #e2edff;

    margin-top: -10px;

   
    color: black;

    font-family: Arial, Helvetica, sans-serif;

}



.judulaskel {

    padding-top: 80px;

    font-size: 30px;

    font-weight: bold;

    text-align: center;

    margin-bottom: 30px;

}



.gambarsekolah {

    width: 472px;

    height: 264px;

    border: 1px solid black;

    border-radius: 20px;

}



.kiri-sekolah {

    display: flex;

    justify-content: center;

    width: 50%;

    float: left;

    margin-bottom: 30px;

}



.kanan-sekolah {

    display: flex;

    justify-content: center;

    width: 50%;

    float: right;

    margin-bottom: 30px;

}



.tekssekolah {

    width: 80%;

    font-size: 15px;

    font-family: 'Poppins';

    text-align: justify;

    padding-top: 50px;

    



.akhir-riwayat {
    font-size: 25px;

    font-weight: bold;

    font-family: 'Calibri';

    text-transform: uppercase;

    text-align: center;

}

 /* Kontak saya */

 .judulkontak {

    padding-top: 80px;

    font-family: 'Arial';

    font-weight: bold;

    font-size: 25px;

    text-align: center;

 }



 .list-kontak {

    display: flex;

    gap: 60px;

    justify-content: center;

    margin-top: 50px;

    font-size: 80px;

 }



 ul li {

    color: white;

    text-decoration: none;

 }



 /* BONUS */

 ::-webkit-scrollbar {

    width: 10px;

 }



 ::-webkit-scrollbar-track {

    background: #f1f1f1;

 }



 ::-webkit-scrollbar-thumb {

    background: red;

 }



 /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {

        background: blue;

    }



